
@{
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Customer
</button>

<div class="container">
<div class="row">
    <div class="col-12">
       <table id="tbl_customer" class="table table-bordered">
           <thead>
               <tr>

                        <td>Id</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Mobile</td>
                        <td>gender</td>
                        <td>country</td>
                        <td> state</td>
                        <td>city</td>
                        <td>Action</td>

                        
               </tr>
           </thead>
           <tbody>

           </tbody>

       </table>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                

                <div class="card">
                    <div class="card-body">
                        <form>
                            <input type="hidden" id="txtId" />
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input class="form-control" type="text" id="txtName" />
                            </div>

                            <div class="form-group">
                                <label>Customer Email</label>
                                <input class="form-control" type="text" id="txtEmail" />
                            </div>
                            <div class="form-group">
                                <label>Customer mobile</label>
                                <input class="form-control" type="text" id="txtmobile" />
                            </div>


                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" id="ddlGender">

                                    <option value="">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">others</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label>country</label>
                                <select class="form-control" id="ddlCountry">

                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <select class="form-control" id="ddlState">

                                    <option value="">Select</option>
                                </select>
                            </div>
                         @*   <i class="fa-solid fa-user-pen"></i>
                            <i class="fa-solid fa-trash-can"></i>*@
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" id="ddlCity">

                                    <option value="">Select</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="button" class="btn btn-sm btn-primary" value="Submit" id="btnSubmit" />
                            </div>

                            <div class="form-group">
                                <p id="msg"></p>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
           @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>




<script src="~/js/customer.js" type="text/javascript"></script>
